<header class="app-header">
    <div class="nav-shell">
        <a class="brand" href="">
            <span class="brand-mark">T</span>
            <span>TodoApp</span>
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="@NavMenuCssClass">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-link" href="CreateUser">
                New user
            </NavLink>
            <NavLink class="nav-link" href="ViewUsers">
                Users
            </NavLink>

            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="CreateTodo">
                        New todo
                    </NavLink>
                    <NavLink class="nav-link" href="ViewTodos">
                        Todos
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </nav>

        <div class="account-area">
            <AuthorizeView>
                <Authorized>
                    <span class="user-chip">Hello, @context.User.Identity?.Name</span>
                    <NavLink class="auth-link" href="Logout">Logout</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="auth-link primary" href="Login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "nav-links collapse" : "nav-links";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
