@page "/EditTodo/{id:int}"
@attribute [Authorize]
@using Shared.DTOs
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@inject ITodoService todoService
@inject NavigationManager navMgr

<div class="form-card wide surface">
    @if (dto == null)
    {
        <label>Loading Todo data..</label>
    }
    else
    {
        <h2>Update todo</h2>
        <div class="form-group field">
            <label>Title</label>
            <input type="text" @bind="dto.Title" />
        </div>
        <div class="form-group field">
            <label>Description</label>
            <textarea @bind="dto.Description"></textarea>
        </div>
        <div class="button-row">
            <button @onclick="UpdateAsync" class="acceptbtn">Update</button>
        </div>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <div class="message error">@msg</div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private TodoUpdateDto dto = null!;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            TodoReadDto todoData = await todoService.GetByIdAsync(Id);

            dto = new(Id)
            {
                Title = todoData.Title,
                Description = todoData.Description,
                IsCompleted = todoData.IsCompleted
            };
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task UpdateAsync()
    {
        try
        {
            await todoService.UpdateAsync(dto);
            navMgr.NavigateTo("/ViewTodos");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}
