@page "/Logout"
@inject IAuthService AuthService
@inject NavigationManager NavMgr

<p>Logging out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogoutAsync();
        NavMgr.NavigateTo("/Login");
    }
}
